.header {
  background: #002;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  text-align: center !important;
  height: 80px;
  position: relative;
  z-index: 10;
}

.pageForm {
  display: flex;
  background: #002;
}

.header h1 {
  font-size: 4rem;
  min-height: 36.25rem;
  min-width: 25rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: rgba(255,255,255,0.8);
  line-height: 1;
  margin: 0 0 0.125em;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

.formulario {
  position: relative;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 20px;
  text-align: center !important;
  width: 400px;
  height: 400px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 220px;
}

.binaryImput {
  position: absolute;
  display: block;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 10%;
}

.titleInput {
  display: block;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px #c9c9c9;
  background-color: rgb(80, 159, 233);
  width: 100%;
  height: 55px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: -5%;
  padding-top: 5px;
}

.binaryImput input {
  margin-top: 38px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 28px
}

.binaryImput button {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  text-shadow: 2px 2px #c9c9c9;
  width: 150px;
  height: 35px;
  margin-top: 10px;
  background-color: rgb(245, 240, 240);
}

.decimalOutput {
  position: absolute;
  display: block;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.titleOutput {
  display: block;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 35px;
  text-shadow: 2px 2px #c9c9c9;
  background-color: rgb(80, 159, 233);
  width: 100%;
  height: 55px;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  margin-top: 40%;
  padding-top: 5px;
}

.decimalOutput input {
  position: absolute;
  display: block;
  margin: 0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 28px
}

.footer {
  background: #262643;
  min-height: 2rem;
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-size: 0.875rem;
  line-height: 1.2rem;
  padding: 0.4rem 0;
  display: block;
}